body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

:root {
  --border-thickness: 1px;
}

select {
  padding: 6px;
  border-radius: 5px;
}

h1 {
  margin: 0;
  padding-bottom: 20px;
  color: white;
  background-color: #222831;
  padding: 20px;
  margin: -20px -20px 20px -20px;
}

.options {
  display: flex;
  column-gap: 20px;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 14px;
}

input {
  padding: 6.5px;
  border-radius: 5px;
  border-width: 1px;
}

.options > * {
  flex-grow: 2;
  flex: 1 1 0px;
}

button {
  border-width: 0;
  background-color: #487eb0;
  color: white;
  max-width: 100px;
  font-weight: bold;
  padding: 6px;
  min-width: 120px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
  background-color: #40739e;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
  background-color: #0077b6;
}

textarea {
  padding: 10px;
  margin-top: 20px;
  resize: none;
  flex-grow: 1;
  border-radius: 5px;
}

html,
body {
  height: 100%;
}

.hide-from-print {
  height: calc(100% - 40px);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

pre {
  margin: 0;
}

#code-container {
  margin: 0;
  max-width: 100%;
}

#code-container .code-line:first-of-type .line-number {
  padding-top: calc(10px + var(--border-thickness));
}

#code-container .code-line:last-of-type .line-number {
  padding-bottom: calc(10px + var(--border-thickness));
}

#code-container .code-line:first-of-type #code {
  padding-top: calc(10px + var(--border-thickness));
  border-top: var(--border-thickness) solid #c9d1d9;
}

#code-container .code-line:last-of-type #code {
  padding-bottom: calc(10px + var(--border-thickness));
  border-bottom: var(--border-thickness) solid #c9d1d9;
}

#code {
  font-size: 14px;
  border: none;
  border-right: var(--border-thickness) solid #c9d1d9;
  font-family: 'Fira Code', monospace;
  white-space: pre-wrap;
  padding: 0px 11px;
  flex-grow: 1;
}

.code-pre {
  display: inline-block;
  flex-grow: 1;
}

#code-div {
  background-color: #c9d1d9;
  width: auto;
  flex: 1;
  display: inline-block;
}

.code-line {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  display: flex;
}

.line-number {
  padding: 0px 11px;
  user-select: none;
  background-color: #454545;
  color: white;
  white-space: pre;
}

#print-area {
  padding: 0;
  padding-top: 20px;
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media print {
  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .line-number {
    user-select: none;
  }

  #document-title {
    margin-bottom: 20px;
  }

  #print-area {
    display: block;
  }

  .hide-from-print {
    display: none;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.github-icon {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  vertical-align: middle;
  float: right;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 4px;
}






